*.*/
*.so

bin/ctrler
bin/shardkv
bin/raftstate
bin/snapshot


src/cmd/ctrler/server/ctrler-server
src/cmd/ctrler/client/ctrler-client
src/cmd/shardkv/server/shardkv-server
src/cmd/shardkv/client/shardkv-client

*.dat
*.log